<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Health Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>AI Health Projects</h1>
    </header>
    <main>
        
        <section id="heart-disease">
            <h2>Heart Disease Diagnosis</h2>
            <p>Seize the opportunity to safeguard your heart's health! Our Heart Disease Detection initiative employs innovative technology to assess your heart's well-being. By examining your medical history, cholesterol levels, and lifestyle choices, we provide tailored insights into your heart's condition. Take the first step towards a healthier heart today – your well-being matters!</p>
            <a href="https://heart-disease-pred-app.onrender.com">
                <img src="{{ url_for('static', filename='heart_disease.jpg') }}" alt="Heart Disease">
            </a>
            <p>Take the first step towards a healthier heart. Click <a href="https://heart-disease-pred-app.onrender.com">here</a> to access our Heart Disease Diagnosis App and assess your risk now.</p>
        </section>
        
        <section id="diabetes">
            <h2>Diabetes Prediction</h2>
            <p>Empower yourself with proactive diabetes management! Our Diabetes Prediction project utilizes advanced machine learning algorithms to assess your risk of diabetes. By analyzing various factors such as medical history, glucose levels, and lifestyle habits, our model provides personalized insights into your diabetes risk. Take charge of your health today!</p>
            <a href="https://diabetes-app-1kn2.onrender.com">
                <img src="{{ url_for('static', filename='diabetes.jpg') }}" alt="Diabetes">
            </a>
            <p>Take the first step towards a healthier future. Click <a href="https://diabetes-app-1kn2.onrender.com">here</a> to access our Diabetes Prediction App and assess your risk now.</p>
        </section>
        
        
        <section id="liver-disease">
            <h2>Liver Disease Prediction</h2>
            <p>Take control of your liver health with our Liver Disease Prediction project! Our advanced machine learning algorithms analyze factors like your medical history, liver function tests, and lifestyle choices to give you personalized insights into your liver health. Start managing your well-being today by understanding your liver's condition better!</p>
            <a href="https://liver-disease-prediction-app.onrender.com">
                <img src="{{ url_for('static', filename='liver_disease.jpg') }}" alt="Liver Disease">
            </a>
            <p>Take the first step towards a healthier liver. Click <a href="https://liver-disease-prediction-app.onrender.com">here</a> to access our Liver Disease Prediction App and assess your risk now.</p>
        </section>        
        
        <section id="breast-cancer">
            <h2>Breast Cancer Detection</h2>
            <p>Equip yourself with proactive health awareness! Our Breast Cancer Detection project leverages state-of-the-art machine learning algorithms to gauge your likelihood of developing breast cancer. Through comprehensive analysis of factors such as medical history, genetic markers, and lifestyle habits, our model furnishes personalized insights into your breast cancer risk. Seize the opportunity to take charge of your health today - don't hesitate until it's too late.!</p>
                 
            <a href="https://breast-cancer-prediction-app-u8pz.onrender.com/">
            <img src="{{ url_for('static', filename='breast_cancer.jpg') }}" alt="Breast Cancer">
            </a>  
            <p>Click <a href="https://breast-cancer-prediction-app-u8pz.onrender.com/">here</a> 
                Take Control of Your Health: Check Your Breast Cancer Risk Now.</p>  
        </section>
    </main>
    <footer>
        <p>AI is revolutionizing healthcare by providing accurate predictions and diagnoses, leading to better patient outcomes and reduced costs.</p>
    </footer>
</body>
</html>
